html, body {
    margin: 0;
    padding: 0;
    /*background-color: #151515;*/
    font-family: 'Work Sans', sans-serif;
    /*background-image: url("../img/green-bg.jpg");*/
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

body {
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0;
}

#login-screen {
    max-width: 50%;
    color: white;
    position: absolute;
    left: 25%;
    top: 5%;
}

#title-box {
    width: 100%;
    text-align: right;
}

#title-box h1 {
    font-size: 48px;
    margin: 0;
}

#title-box h3 {
    margin: 5px;
}

#login-box {
    display: inline-block;
    max-width: 100%;
    padding: 12px;
}

#nick {
    width: 90%;
    font-size: 14px;
}

#instructions {
    display: inline-block;
    max-width: 59%;
    padding: 10px 15px 10px 15px;
}

#right-login {
    display: inline-block;
    max-width: 39%;
}

#instructions h3 {
    margin: 5px;
}

#boss-box {
    margin-bottom: 5px;
    padding: 5px;
}
.login-page-elem {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

#fullscreen-overlay {
    position: fixed;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}

#game-over-message-box {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 20%;
    top: 35%;
    color: gainsboro;
    font-size: 42px;
    font-weight: bold;
    min-width: 60%;
    text-align: center;
    display: none;
}

.play-button {
    display: inline;
    text-align: center;
    background-color: #4CAF50;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin: 6px;
}

.play-button:hover {
    background-color: #008B00;
}

.play-button:active {
    background-color: #006400;
}

.play-button:focus {
    outline: 0;
}

#game-ui {
    min-height: 100vh;
    min-width: 100wh;
    background-color: black;
}

#display-error-container {
    position: fixed;
    z-index: 1;
    top: 5px;
    left: 5px;
    min-width: 60%;
    max-width: 60%;
    background-color: rgba(23, 23, 23, 0.5);
    color: white;
    font-size: 20px;
    display: none;
}

#display-error-container p span {
    font-weight: 700;
}

#world-wealth-display {
    position: fixed;
    z-index: 1;
    top: 5px;
    right: 5px;
    color: white;
    min-width: 25%;
    max-width: 30%;
    display: none;
}

#score-container {
    background-color: rgba(23, 23, 23, 0.5);
    padding: 5px;
    font-size: 48px;
    text-align: left;
    display: inline-block;
    float: right;
}

#leaderboard {
    margin-top: 6px;
    background-color: rgba(23, 23, 23, 0.3);
    float: right;
    padding: 5px;
    text-align: center;
    width: 250px;
}

#leaderboard h3 {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

#king-box {
    text-align: center;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.5);
    border: 1px solid gainsboro;
    border-radius: 5px;

}

.live-stats {
    background-color: rgba(23, 23, 23, 0.3);
    margin-top: 6px;
    float: right;
    padding: 5px;
    text-align: right;
    width: 250px;
}

#game-controls {
    position: fixed;
    z-index: 1;
    bottom: 5px;
    right: 5px;
    min-width: 22%;
    min-height: 20%;
    color: white;
    display: none;
}

#building-info-panel {
    background-color: rgba(23, 23, 23, 0.5);
    margin-bottom: 5px;
    min-width: 100%;
    display: none;
}

#building-panel-content {
    min-width: 100%;
    display: inline;
}

#building-panel-content tr {
    min-width: 100%;
}

#unit-name-container {
    min-width: 50%;
}

#unit-thumbnail-container {
    max-width: 50%;
    text-align: right;
    font-size: 1px;
}

#unit-thumbnail-container img {
    height: 36px;
    width: 36px;
}


#progress-bar-container {
    padding: 2px;
}

#progress-bar-border {
    display: block;
    margin: 3px auto 3px;
    max-width: 95%;
    border: 1px solid black;
    border-radius: 3px;
    min-height: 4px;
}

#progress-bar {
    width: 0%;
    background-color: red;
    border-radius: 3px;
    font-size: 6px;
}

#ui-buttons {
    background-color: rgba(23, 23, 23, 0.5);
    min-width: 100%;
    min-height: 100%;
}

#ui-buttons fieldset {
    width: 95%;
    height: 95%;
    border: 1px solid black;
    border-radius: 5px;

}

#buttons-list {
    width: 100%;
    height: 100%;
}

.a-button {
    display: block;
    margin: 10px auto 10px auto;
    width: 90%;
    height: 25%;
    background-color: rgb(23, 23, 23);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.a-button:hover {
    background-color: black;
    cursor: pointer;
}

.a-button:active {
    /*when clicked*/
    border: 1px solid gainsboro;
    background-color: rgb(40, 40, 40);
}

#buttons-message-box {
    border: 1px solid gainsboro;
    background-color: rgb(40, 40, 40);
}

#button-container {
    display: block;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

#button-container p {
    text-align: center;
}


#chat-client{
    background-color: rgba(23, 23, 23, 0.3);
    margin-top: 10px;
    padding: 5px;
    color: beige;
    font-size: small;
    text-align: left;
    float: right;
    width: 300px;
}

#chat-client .message-panel{
    max-height: 100px;
    min-height: 20px;
    overflow: auto;
}

#chat-client ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#chat-client input {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    border-radius: 5px;
    width: 96%;
    color: inherit;
}

#chat-client ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#chat-client ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#fps {
    position: fixed;
    top: 5px;
    left: 5px;
    color: white;
    font-size: 10px;
}