html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    font-family: 'Work Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0;
}

#game-ui {
    min-height: 100vh;
    min-width: 100wh;
    background-color: green;
}
#game-view {
    min-height: 70%;
    max-height: 70%;
}

#game-controls {
    min-height:100%;
    min-width: 100%;
    display: inline-block;
    background-color: black;
}

#controls-panel {
    background: blue;
    display: flex;
    min-height: 100%;
}

#map {
    background: red;
    width: 25%;
    min-height: 100%;
    float: left;
    display: inline;
} 

#map img {
    display: block;
    margin: auto;
}

#info-panel {
    display: inline;
    background-color: orange;
    min-width: 50%;
    min-height: 100%;
}

#info-panel img {
    display: block;
    margin: auto;
}

#ui-buttons {
    display: inline;
    background-color: pink;
    min-width: 25%;
    min-height: 100%;
}

#buttons-panel img {
    display: block;
    margin: auto;
}

#ui-buttons:first-child {
    background-color: green;
}

.ui-container {
    display: block;
    margin: auto;
    border: 2px solid gainsboro;
    border-radius: 5px;
    background: white;
    height: 100%;
    width: 80%;

}

.a-button {
    display: block;
    margin: 10px auto 10px auto;
    width: 90%;
    height: 25%;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    text-align: center;
}

.a-button:hover {
    background-color: #D4D4D4;
    cursor: pointer;
}

#button-container {
    display: block;
    margin: auto;
    min-height: 95%;
    min-width: 95%;
}

#button-container p {
    text-align: center;
}

#buttons-list {
    list-style: none;
    margin: 0;
    width: 100%;
}

#buttons-list li {
    margin: 5px;
    display: inline-block;
}

.sumsginp {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 15px;
    word-wrap: break-word;
    color: #e0e0ff;
    background: none;
    resize: none;
    border: 0px;
    height: 23px;
    opacity: 1;
    position: relative;
    display: block;
    margin : 0 auto;
    text-align: center;
}

#login-screen{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 250px;
}

.display-none {
    display: none;
}